services:
  ms-comidas:
    build:
      context: .
      dockerfile: ms-comidas/Dockerfile
    ports: ["8081:8081"]
    environment:
      - SERVER_PORT=8081
    networks: [app-net]

  ms-maridaje:
    build:
      context: .
      dockerfile: ms-maridaje/Dockerfile
    ports: ["8082:8082"]
    environment:
      - SERVER_PORT=8082
      - APP_COMIDAS_BASE_URL=http://ms-comidas:8081
    depends_on:
      - ms-comidas
    networks: [app-net]

networks:
  app-net:
    driver: bridge
